jobs:
  lint_web_ext:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: ./.github/actions/prepare
      - run: pnpm dev
      - run: pnpm lint:web-ext

name: Lint Web Ext

on:
  pull_request: ~
  push:
    branches:
      - main
